In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6),(7,8)

In [5]:
nested_tup

((4, 5, 6), (7, 8))

In [6]:
tuple([4,0,2])

(4, 0, 2)

In [7]:
tup = ('string')

In [8]:
tup

'string'

In [9]:
tup = tuple('string')

In [10]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup[0]

's'

In [12]:
tup = tuple(['foo',[1,2],True])

In [13]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
tup[1].append(3)

In [15]:
tup

('foo', [1, 2, 3], True)

In [17]:
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [18]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [19]:
tup = (4,5,6)

In [20]:
a,b,c = tup

In [21]:
b

5

In [22]:
tup = 4,5,(6,7)

In [23]:
a,b,(c,d) = tup

In [24]:
d

7

In [25]:
a,b =1,2

In [26]:
a

1

In [27]:
b

2

In [28]:
b,a = a,b

In [29]:
a

2

In [30]:
b

1

In [32]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [33]:
values = 1,2,3,4,5
a,b,*rest = values

In [34]:
a

1

In [35]:
a,b

(1, 2)

In [37]:
rest

[3, 4, 5]

In [38]:
a,b,*_=1,2,3,4,5

In [39]:
_

[3, 4, 5]

In [40]:
a = (1,2,2,2,3,4,2)

In [41]:
a.count(2)

4

In [42]:
a_list = [2,3,7,None]

In [43]:
tup = ('foo','bar','baz')

In [44]:
b_list = list(tup)

In [45]:
b_list

['foo', 'bar', 'baz']

In [46]:
b_list = 'peekaboo'

In [48]:
b_list

'peekaboo'

In [51]:
gen = range(10)

In [52]:
gen

range(0, 10)

In [53]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
b_list = ['foo','peekaboo','baz']

In [56]:
b_list.append('dwarf')

In [57]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [59]:
b_list.insert(1,'red')\

In [60]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [61]:
b_list.pop(2)

'peekaboo'

In [62]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [63]:
b_list.append('foo')

In [64]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [65]:
b_list.remove('foo')

In [66]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [67]:
'dwarf' in b_list

True

In [68]:
'dwarf' not in b_list

False

In [71]:
x = [4,None,'foo']

In [72]:
x.extend([7,8,(2,3)])

In [73]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [81]:
### 通过加法将列表串联的计算量较大，因为要新建一个列表，并且要复制对象。用extend追加元素，尤其是到一个大列表中，更为可取

In [83]:
# everything = []
# for chunk in list_of_lists:
#     everything.extend(chunk)

In [84]:
a = [7,2,5,1,3]

In [87]:
a.sort()

In [88]:
a

[1, 2, 3, 5, 7]

In [89]:
b = ['saw','small','He','foxes','six']

In [91]:
b.sort(key=len)

In [92]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [93]:
import bisect
c = [1,2,2,2,3,4,7]

In [94]:
bisect.bisect(c,2)

4

In [95]:
bisect.insort(c,5)

In [96]:
c

[1, 2, 2, 2, 3, 4, 5, 7]

In [97]:
seq = [7,2,3,7,5,6,0,1]

In [98]:
seq[1:5]

[2, 3, 7, 5]

In [99]:
seq[3:4] = [6,3]

In [100]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [101]:
seq[:5]

[7, 2, 3, 6, 3]

In [102]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [103]:
seq[-4:]

[5, 6, 0, 1]

In [105]:
seq[-6:-2]

[6, 3, 5, 6]

In [106]:
seq[::2]

[7, 3, 3, 6, 1]

In [107]:
# 一个聪明的方法是使用-1，它可以将列表或元组颠倒过来：
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [110]:
# i = 0
# for value in collection:
#     i += 1


for i,value in enumerate(collection):

In [111]:
some_list = ['foo','bar','baz']

In [112]:
mapping = {}

In [113]:
for i,v in enumerate(some_list):
    mapping[v] = i

In [114]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [116]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [117]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [118]:
seq1 = ['foo','bar','baz']

In [119]:
seq2 = ['one','two','three']

In [120]:
zipped = zip(seq1,seq2)

In [122]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [123]:
seq3 = [False,True]

In [124]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [125]:
# zip的常见用法之一是同时迭代多个序列，可能结合enumerate使用：
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [126]:
pitchers = [('Liweixin','Tangyuqin'),('Yanghe','Keile'),('Zhugelaing','ZHouyu')]

In [127]:
first_names,last_names = zip(*pitchers)

In [129]:
first_names

('Liweixin', 'Yanghe', 'Zhugelaing')

In [130]:
last_names

('Tangyuqin', 'Keile', 'ZHouyu')

In [131]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [132]:
range(10)

range(0, 10)

In [134]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
empty_dict = {}

In [136]:
d1 = {'a':'some value','b':[1,2,3,4]}

In [137]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [138]:
d1[7] = 'an integer'

In [139]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [140]:
d1['b']

[1, 2, 3, 4]

In [141]:
'b' in d1

True

In [142]:
d1[5] = 'some value'

In [143]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [146]:
d1['dummy'] = 'another value'

In [147]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [148]:
del d1[5]

In [149]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [150]:
ret = d1.pop('dummy')

In [151]:
ret

'another value'

In [152]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [153]:
list(d1.keys())

['a', 'b', 7]

In [155]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [156]:
d1.update({'b':'foo','c':12})

In [157]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [161]:
# mapping = {}
# for key,value in zip(key_list,value_list):
#     mapping[key] = value

In [162]:
mapping = dict(zip(range(5),reversed(range(5))))

In [163]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [165]:
# if key in some_dict:
#     value = some_dict[key]
# else:
#     value = default_value

In [167]:
# 因此，dict的方法get和pop可以取默认值进行返回，上面的if-else语句可以简写成下面：
value = some_dict.get(key,default_value)

In [ ]:
# get默认会返回None，如果不存在键，pop会抛出一个例外。
# 关于设定值，常见的情况是在字典的值是属于其它集合，如列表。
# 例如，你可以通过首字母，将一个列表中的单词分类：

In [172]:
words = ['apple','bat','bar','atom','book']

In [169]:
by_letter = {}

In [170]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [171]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [173]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

In [174]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [178]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [179]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [180]:
hash('string')

7523956519248089596

In [181]:
hash((1,2,(2,3)))

1097636502276347782

In [182]:
hash((1,2,[2,3]))

TypeError: unhashable type: 'list'

In [183]:
d = {}

In [185]:
d[tuple([1,2,3])] = 5

In [186]:
# 集合
set([2,2,2,1,3,3])

{1, 2, 3}

In [187]:
{2,2,2,1,3,3}

{1, 2, 3}

In [188]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [189]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [190]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [191]:
a&b

{3, 4, 5}

In [192]:
c = a.copy()

In [193]:
c

{1, 2, 3, 4, 5}

In [194]:
c|=b

In [195]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [196]:
d = a.copy()

In [197]:
d

{1, 2, 3, 4, 5}

In [198]:
d&=b

In [199]:
d

{3, 4, 5}

In [200]:
my_data = [1,2,3,4]

In [201]:
my_set = {tuple(my_data)}

In [202]:
my_set

{(1, 2, 3, 4)}

In [203]:
a_set = {1,2,3,4,5}

In [204]:
{1,2,3}.issubset(a_set)

True

In [205]:
a_set.issuperset({1,2,3})

True

In [206]:
{1,2,3} == {3,2,1}

True

In [ ]:
# 列表推导式是Python最受喜爱的特性之一。
# 它允许用户方便的从一个集合过滤元素，形成列表，在传递参数的过程中还可以修改元素
expr for val in collection if collection

In [207]:
strings = ['a','as','bat','car','dove','python']

In [210]:
[x.upper() for x in strings if len(x) >2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
# 用相似的方法，还可以推导集合和字典。字典的推导式如下所示：
dict_comp = {key-expr :value-expr for value in collection if collection}

In [ ]:
# 集合的推导式与列表很像，只不过用的是尖括号：
set_comp = {expr for value in collection if condition}

In [211]:
unique_length = {len(x) for x in strings}

In [212]:
unique_length

{1, 2, 3, 4, 6}

In [213]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [214]:
loc_mapping = {val:index for index,val in enumerate(strings)}

In [215]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [216]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [218]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e')>= 2]
    names_of_interest.extend(enough_es)

In [219]:
result = [name for names in all_data for name in names if name.count('e')>=2]

In [220]:
result

['Steven']

In [221]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]

In [222]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [223]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [227]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [228]:
my_function(5,6,z=0.7)

0.06363636363636363

In [231]:
my_function(5,6)

16.5

In [232]:
def fun():
    a =[]
    for i in range(5):
        a.append(i)

In [233]:
a

{1, 2, 3, 4, 5}

In [234]:
def fun():
    a = [ a for i in range(5)]

In [235]:
a

{1, 2, 3, 4, 5}

In [238]:
def func():
    a = {a for i in range(5)}

In [239]:
a

{1, 2, 3, 4, 5}

In [240]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [241]:
print(a)

[]

In [242]:
def f():
    a = 5
    b = 6
    c = 7
    return a,b,c

In [243]:
a,b,c = f()

In [244]:
return_value = f()

In [245]:
return_value

(5, 6, 7)

In [246]:
def f():
    a = 5
    b = 6
    c = 7
    return{'a':a,'b':b,'c':c}

In [247]:
return_value = f()

In [248]:
return_value

{'a': 5, 'b': 6, 'c': 7}

In [249]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','south    carolina##', 'West virginia?']

In [250]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','',value)
        value = value.title()
        result.append(value)
    return result

In [251]:
 clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [255]:
# 将需要在一组给定字符串上执行的所有运算做成一个列表：
def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops = [str.strip,remove_punctuation,str.title]

def clean_strings(strings,ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [256]:
clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [ ]:
# 这种多函数模式使你能在很高的层次上轻松修改字符串的转换方式。
# 此时的clean_strings也更具可复用性！

In [257]:
for x in map(remove_punctuation,states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [258]:
def short_function(x):
    return x*2
equiv_anon = lambda x:x*2

In [259]:
equiv_anon

In [260]:
strings = ['foo','card','bar','aaa','abab']

In [263]:
strings.sort(key = lambda x:len(set(list(x))))

In [264]:
strings

['aaa', 'foo', 'abab', 'bar', 'card']

In [268]:
some_dict = {'a':1,'b':2,'c':3}
for value in some_dict:
    print (value)

a
b
c

In [269]:
dict_iterator = iter(some_dict)

In [270]:
dict_iterator

In [271]:
list(dict_iterator)

['a', 'b', 'c']

In [272]:
float('1.2345')

1.2345

In [273]:
float('something')

ValueError: could not convert string to float: 'something'

In [275]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [276]:
attempt_float('1.234')

1.234

In [277]:
attempt_float('something')

'something'

In [278]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [281]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError,TypeError):
        return x

In [282]:
attempt_float((1,2))

(1, 2)

In [283]:
f = open(path,'w')

try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined

In [295]:
path = '123.txt'

In [296]:
f = open(path)

In [298]:
for line in f:
    pass

In [301]:
lines = [x.rstrip() for x in open(path)]

UnicodeDecodeError: 'gbk' codec can't decode byte 0xff in position 0: illegal multibyte sequence

In [304]:
f.read(10)

''

In [305]:
import sys
sys.getdefaultencoding()

'utf-8'